<div *ngIf="question" class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                {{question.id}}. {{question.title}}
            </div>
            <div class="card-block">
                <div class="card-title">
                </div>
                <div class="card-text">
                    {{question.problem}}
                </div>
            </div>
            <div class="card-footer">
                <pre>
                    <code clr-code-highlight="language-css">{{question.answer}}</code>
                </pre>
                <button class="btn btn-sm btn-link" (click)="offer()">Offer me a coffee</button>
                <button class="btn btn-sm btn-link" (click)="refuseOffer()">No, Thank you</button>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        
    </div>
</div>
