<form #filterForm="ngForm" (ngSubmit)="search()"> 
    <section class="form-block">
        <label>Search</label>
        <div class="form-group row">
            <div class="col-lg-1">
                <label for="courseId">Course</label>
            </div>
            <div class="col-lg-2">
                <input class="form-control" type="text" id="courseId" name="courseId" placeholder="C, Java, Algorithm ...">
            </div>
        </div>
        <button type="submit" class="btn">Search</button>        
    </section>
</form>
<hr style="border-width: 0.5px; color: #CCC">
<clr-datagrid>
    <clr-dg-action-bar>
        <button class="btn" (click)="goDetail()" [disabled]="!selected">Detail</button> 
        <button class="btn" (click)="goCreate()" *ngIf="isUserAdmin()" >Create</button>
        <button class="btn" (click)="goEdit()" *ngIf="isUserAdmin()" [disabled]="!selected">Edit</button>
        <button class="btn btn-danger" *ngIf="isUserAdmin()" [disabled]="!selected">Delete</button>
    </clr-dg-action-bar>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>Title</clr-dg-column>
    <clr-dg-column>Topic</clr-dg-column>
    <clr-dg-row *ngFor="let q of questions" (click)="onSelect(q)" [class.datagrid-selected]="q == selected" >
        <clr-dg-cell>{{q.id}}</clr-dg-cell>
        <clr-dg-cell>{{q.title}}</clr-dg-cell>
        <clr-dg-cell>N/A</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
