<div *ngIf="question">
    <form action="">
        <section class="form-block">
          <div class="form-group">
            <label for="title" class="required">Title</label>
            <input type="text" id="title"  name="title" [disabled]="!editing" [(ngModel)]="question.title" size="100" />
          </div>
          <div class="form-group">
            <label for="problem" class="required">Problem Description</label>
            <textarea id="problem" name="problem" rows="10" [disabled]="!editing" [(ngModel)]="question.problem"></textarea>
          </div>
          <div class="form-group">
            <label for="solution">Solution</label>
            <textarea id="solution" name="solution" rows="10" [disabled]="!editing" [(ngModel)]="question.answer"></textarea>
          </div>
          <button class="btn btn-primary" type="submit" (click)="save()">Save</button>
          <button class="btn" type="submit">Cancel</button>
        </section>
      </form>
</div>
<clr-modal [(clrModalOpen)]="modalOpen">
  <h3 class="modal-title">{{response.title}}</h3>
  <div class="modal-body">
    <p>{{response.msg}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalOpen = false">Ok</button>
  </div>
</clr-modal>