<div class="login-wrapper">
  <form class="login">
      <label class="title">
          <h3 class="welcome">Welcome to</h3>
          Company Product Name
          <h5 class="hint">Use your ID to sign in or create one now</h5>
      </label>
      <div class="login-group">
          <input class="username" type="text" id="username" name="username" [(ngModel)]="username" placeholder="Username">
          <input class="password" type="password" id="password" name="password" [(ngModel)]="password" placeholder="Password">
          <button type="submit" class="btn btn-primary" (click)="testLogin()">Log In</button>
      </div>
  </form>
</div>