<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Clarity</span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
          <!-- <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text">Home</span></a> -->
          <!-- <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active"><span class="nav-text">About</span></a> -->
          <a class="nav-link" href="#" [routerLink]="['/questions']" routerLinkActive="active"><span class="nav-text">Questions</span></a>
      </div>
    <div class="header-actions">
      <clr-dropdown *ngIf="isUserLoggedIn()">
          <button class="nav-text" clrDropdownTrigger>
            {{getLoggedUsername()}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
            <a href="javascript://" clrDropdownItem (click)="logout()">Log out</a>
          </clr-dropdown-menu>
      </clr-dropdown>
      <a href="#" *ngIf='!isUserLoggedIn()' class="nav-link nav-text">Join</a>
      <a href="#" *ngIf="!isUserLoggedIn()" [routerLink]="['/login']" class="nav-link nav-text">Log In</a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>